html,
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-grey: rgb(35 35 35);
}

/* ---------------FONTS--------------- */

@font-face {
  font-family: "Apfel Grotezk Brukt";
  src: url(fonts/ApfelGrotezk-Brukt.otf);
}

@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 200;
  src: url(fonts/ApfelGrotezk-Regular.otf);
}

@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 400;
  src: url(fonts/ApfelGrotezk-Mittel.otf);
}

@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 600;
  src: url(fonts/ApfelGrotezk-Fett.otf);
}

@font-face {
  font-family: "Apfel Grotezk";
  font-weight: 800;
  src: url(fonts/ApfelGrotezk-Satt.otf);
}

/* ----------------------------------- */

.wrapper {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.header {
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  position: sticky;
  display: flow-root;
  background-color: var(--bg-grey);
  padding: 1vw;
  z-index: 100;
}

.body-wrapper {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  display: flex;
}

button {
}

.header-link {
  font-family: "Apfel Grotezk", sans-serif;
  font-weight: 200;
  font-size: 1.1vw;
  text-transform: uppercase;
  color: whitesmoke;
  background: none;
  border: none;
}

#name {
  float: left;
  font-family: "Apfel Grotezk", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}
#projects,
#cv,
#about {
  float: right;
  padding-left: 2vw;
}

a {
  text-decoration: underline;
  color: inherit;
}

a.visited {
  text-decoration: underline;
  color: inherit;
}

span {
  font-family: "Apfel Grotezk", sans-serif;
  color: #f06449;
}

img {
  /* object-fit: cover; */
  object-fit: cover;
  /* left: 40vw; */
  height: 100vh;
  float: right;
}

.image {
  z-index: -100;
  display: flex;
  justify-content: center;
  float: right;
  width: 53vw;
  position: fixed;
  right: 0;
}

.intro {
  font-family: "Apfel Grotezk", sans-serif;
  float: left;
  width: 47vw;
  height: 100vh;
  background: var(--bg-grey);
  position: relative;
  display: block;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
}

.intro-item {
  padding-bottom: 4vh;
}

.text {
  display: table;
  font-family: "Apfel Grotezk", sans-serif;
  font-weight: 200;
  font-size: 1.3vw;
  line-height: 1.6vw;
  color: whitesmoke;
}

.column {
  float: left;
  width: 10vw;
  height: auto;
  font-size: 1.3vw;
  line-height: 1.6vw;
  color: #f06449;
  /* position: absolute; */
  display: flex;
  text-transform: uppercase;
  /* padding: 2vw; */
}

h1 {
  font-weight: 600;
  font-family: "Apfel Grotezk", sans-serif;
  font-size: 7.4vw;
  line-height: 7.4vw;
  color: rgb(175, 175, 175);
  padding-bottom: 1vw;
}

/* -----------MOBILE--------------- */

@media screen and (max-width: 700px) {
  .header {
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    position: sticky;
    display: flow-root;
    padding: 2vw;
    z-index: 100;
  }

  .header-link {
    font-size: 2.5vw;
  }

  .body-wrapper {
    flex-direction: column;
    height: 100vh;
  }

  .intro {
    width: 100vw;
    height: auto;
  }

  .intro-wrap {
    /* height: 40vh; */
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .intro-item {
    float: left;
    width: 46vw;
    padding: 0;
    padding-bottom: 1vh;
  }

  .column {
    font-size: 2.8vw;
    line-height: 3vw;
    width: 25vw;
    float: left;
    display: contents;
  }

  .text {
    font-size: 2.5vw;
    line-height: 3vw;
    width: 48vw;
    /* padding-right: 4vw; */
  }

  #text1 {
    padding-right: 4vw;
  }

  #text3 {
    padding-right: 4vw;
  }

  .image {
    width: 100vw;
    height: auto;
    right: 0;
    padding: 0;
    position: relative;
    background: yellow;
    flex-grow: 1;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    /* height: inherit; */
    float: right;
  }
}
